// customized variables

// import bootstrap
@import ".../node_modules/boostrap/scss/boostrap";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";
/* import the Bootstrap */

/* import the necessary Bootstrap files */
@import "bootstrap/functions";
@import "bootstrap/variables";

/* ------- customize primary button color -------- */   
$mynewcolor: #c5adeb;

.btn-primary {
    @include button-variant($mynewcolor, darken($mynewcolor, 7.5%), darken($mynewcolor, 10%), lighten($mynewcolor,5%), lighten($mynewcolor, 10%), darken($mynewcolor,30%));
}

.btn btn-lg btn-outline-primary {
    @include button-outline-variant($mynewcolor, #222222, lighten($mynewcolor,5%), $mynewcolor);
}
@import "~bootstrap/scss/custom.scss";

// Create your own map
$custom-colors: #c5adeb;

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

$theme-colors: (
btn-outline-primary  : $custom-colors,
);

@import "bootstrap";    

$border-radius:.2rem;

@import "bootstrap";    

